{% extends "master.html" %}

{% block title %} - State{% endblock %}

{% block body %}
<div class="tab-content">
    <div class="tab-pane active" id="redis">
        <h2>redis.surfiki.globoi.com:20001</h2>

        <table class="redis table table-striped table-bordered table-condensed">
            <tbody>
                {% for key, value in info.items() %}
                <tr>
                    <td class="key">{{ key }}</td>
                    <td class="value">{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
